# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
.obsidian/
*.swp
*.swo
*~

# Markdown (корень)
/*.md

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.package-lock.json

# Build
build/
dist/
*.apk
*.aab
*.so
*.node
*.o
*.obj

# Android
.gradle/
local.properties
*.hprof
.cxx/
app/build/

# Logs
*.log

# Temp
tmp/
temp/
.tmp/
